@use "@/colors"
@use "@/mixins"

component
  flex: 1 1 0
  display: grid
  grid-template-rows: auto 1fr
  font-size: 0.75em
  padding: 0 0.25em
  overflow: hidden
  outline: none
  @include colors.panel-background

  > div.filter-bar
    font-size: 14px
    display: flex
    align-items: center
    height: 32px
    column-gap: 4px
    margin-left: 4px
    margin-bottom: 8px

  > div.tree
    display: flex
    flex-direction: column
    row-gap: 1.25em
    overflow: hidden auto
    padding: 0 0.25em 1em 0.25em

    > section.category
      display: grid
      grid-template-columns: #{mixins.$library-triangle-hit} 18px 1fr 1fr
      row-gap: 0.375em
      column-gap: 0.75em
      color: var(--color)

      > h1
        grid-column: 1 / -1
        justify-self: start
        white-space: nowrap
        font-size: 1em
        padding: 0.25em 0.75em
        margin: 0 0 0.25em 0.75em
        border-radius: 0.25em
        background-color: rgba(black, 0.3)

      > hr
        grid-column: 1 / -1
        border: none
        background-color: rgba(white, 0.04)
        margin: 0.25em 0
        height: 1px
        width: 100%
